{% extends 'base.html'%}
{% block title %}AYUDAAA{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Bienvenido a la sección de Ayuda</h1>
    <p>Aquí encontrarás información útil para navegar y utilizar la aplicación de aeropuertos.</p>
    
    <h2>¿Cómo usar la aplicación?</h2>
    <ul class="list-group">
        <li class="list-group-item">Explora la lista de aeropuertos disponibles.</li>
        <li class="list-group-item">Selecciona dos aeropuertos para calcular la distancia entre ellos.</li>
        <li class="list-group-item">Utiliza la barra de navegación para acceder a diferentes secciones.</li>
    </ul>
    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en contactarnos a través de nuestro correo electrónico:
        <a href="mailto:">camitlopa205@gmail.com</a> 
    </p>
</div>
{% endblock %}

